body {
    margin: 0;
    font-family: monospace;
    background: #000;
    color: white;
}

/* Center login */
.login-box {
    width: 300px;
    margin: 100px auto;
    padding: 25px;
    background: #111;
    border: 2px solid #c00;
    text-align: center;
}

/* Inputs */
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: #000;
    border: 1px solid #c00;
    color: white;
}

/* Buttons */
button {
    padding: 10px;
    background: #c00;
    border: none;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #a00;
}

/* Button group */
.btn-group {
    display: flex;
    gap: 10px;
}

.create-btn {
    flex: 1;
    text-align: center;
    padding: 10px;
    border: 1px solid #c00;
    color: #c00;
    text-decoration: none;
}

/* Dashboard */
.container {
    width: 80%;
    margin: 20px auto;
}

.card {
    background: #111;
    border: 1px solid #c00;
    padding: 15px;
    margin: 15px 0;
}